html body {
  padding-left: 2%;
  padding-right: 2%;
}

.centered {
  text-align: center;
}

.column {
    float: left;
    width: 47%;
}

.left {
  margin-right: 1%;
}

.right {
  margin-left: 1%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
