html body {
  padding-left: 2%;
  padding-right: 2%;
}

input {
  width: 100%;
}

table {
  width: 100%;
}

td {
  padding: 10px;
  text-align: left;
  width: 70%;
}

td:first-child {
  text-align: right;
  width: 30%;
}

.centered {
  text-align: center;
}

.centered_div {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.column {
    float: left;
    width: 47%;
}

.column_narrow {
    float: left;
    width: 30%;
}

.left {
  margin-right: 1%;
}

.left_narrow {
  margin-left: 9%;
  margin-right: 9%;
}

.right {
  margin-left: 1%
}

.right_narrow {
  margin-left: 9%;
  margin-right: 9%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.submit_button_td {
  text-align: right;
}

.text_left {
  text-align: left
}
